body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    height: 80%;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image:url("https://scontent.fdet1-2.fna.fbcdn.net/v/t39.30808-6/241533539_941051009778977_1995986781067375293_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=Czc3CafXjPUAX_zclMP&_nc_ht=scontent.fdet1-2.fna&oh=82ac253ca920553be5b976c443d8a665&oe=6194B6EF"); }
  .img2 { background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t39.30808-6/240395982_936576133559798_5791903422477440529_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=L2zcqiwq8v8AX8Ne3N5&_nc_ht=scontent.fdet1-2.fna&oh=6aec3af1aa43868e7d61db4653886894&oe=6194D3E5"); }
  .img3 { background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t1.6435-9/66950058_455924511624965_8760440352655015936_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=973b4a&_nc_ohc=N0WTIgwcdggAX8T9RxI&_nc_ht=scontent.fdet1-2.fna&oh=7e525a20a3ddd7b8f0658a887eb42d5f&oe=61B64E37"); }
  .img4 {background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t1.6435-9/74366286_506516589899090_4647152041586589696_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=973b4a&_nc_ohc=fLXJdzbNv2AAX98nvMQ&_nc_ht=scontent.fdet1-2.fna&oh=1a37e2344eb1e3ec59df77e540abfb6a&oe=61B58079")}

  .Tour {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family:'Shadows Into Light', cursive;
  }

  .About {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 125%;
    right:15%;
    transform: translate(-50%, -50%);
  }

  .Music {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 200%;
    left:15%;
    transform: translate(-50%, -50%);
  }

  .Contact {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 275%;
    right:5%;
    transform: translate(-50%, -50%);
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    font-family:'Shadows Into Light', cursive;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    /* text-align: center; */
  }

  a:link {
      text-decoration: none;
  }
  a:hover {
      color:rgb(172, 17, 17);
  }

  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}