* {
    background-color: black;
}
.Music {
    color: whitesmoke;
    font-size: 100px;
    font-family:'Shadows Into Light', cursive;
}

a:link{
    color: whitesmoke;
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    text-decoration: none;
}