<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    <title>Ben Jindra Website</title>
</head>
<header>
    Ben Jindra
</header>
<body>
    <nav>
        <div id="navigation">
        <a href="#About">About</a>
        <a href="#Music">Music</a>
        <a href="tour/index.html">Tour</a>
        <a href="#Pictures">Pictures</a>
        </div>
      </nav>
    <h1 class="Pictures">Pictures</h1>

    <h1 class="About">About</h1>
    <div id="container">
    <div class="image">
    <img src="images/ben_1.jpg" height="80%" width="80%"></div>
    <div class="paragraph">
            Multi-instrumentalist Ben Jindra was born and raised in small-town Wisconsin.  
        His passion for music led him to UCLA where he earned his degree in Music Education.  
        Ben is the Music Director and Bassist for country singer Tyler Rich.
    When not touring, Ben’s love for teaching music keeps him active sharing real-world 
    experiences with the joy of making music.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In mattis sagittis libero efficitur maximus. Aenean bibendum facilisis diam vel tempor. Proin ac velit
     blandit, lacinia quam iaculis, pulvinar odio. Suspendisse turpis magna, ultricies aliquam neque ac, laoreet viverra libero. Nunc lacinia dui eu turpis fermentum imperdiet. 
     Nulla enim ante, placerat quis velit id, ultrices ultricies lorem. Proin congue vulputate consequat. Nam at justo sed arcu accumsan gravida. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere 
     cubilia curae; Mauris laoreet mi volutpat congue mattis. Nam suscipit, est sit amet ornare porttitor, augue lorem egestas risus, 
    et pretium mauris nisl vel magna. Fusce vestibulum facilisis finibus. Mauris a sem eu nisi volutpat suscipit. Proin ornare mauris ac luctus varius. Nullam vitae mattis ligula. 
    Nulla pulvinar dignissim libero id elementum.
    </div> </a>
    </div>    
    </div>
    </div>
</body>
</html>