* {
    background-color:rgb(39, 36, 36);
}

header {
    color: white;
    text-transform: capitalize;
    text-emphasis: bold;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 85px;
}
h1 {
    color:rgb(238, 223, 223);
    font-family: 'Shadows Into Light', cursive;
    font-size: 50px;
}

.paragraph {
    color:rgb(238, 223, 223);
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    color:#9BC7FF;
}
.image {
    height: 35%;
    width: 35%;
    border-color: #9BC7FF;
    border-width: thin;
    float: right;
    margin-left: 10px;
}

.nav {
    color: whitesmoke;
    font-family:'Shadows Into Light', cursive;
}

@media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}