<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./music.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Music</title>
</head>
<body>
    <div class="Music">Music</div>
    <!-- <div class="bg-image img1"></div> -->
    <div class="container">
    <iframe src="https://open.spotify.com/embed/track/4oFAJvXFB2W9FWgaww9cQo" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <iframe src="https://open.spotify.com/embed/track/25YhAeHIKToSYqq531Telp" width="100%" height="380" allowfullscreen="" allowtransparency="true"></iframe>
    <iframe src="https://open.spotify.com/embed/track/1zQjzfgYp0ZDSsU1dxi5g8" width="100%" height="380" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</div>
<footer>
    <nav>
        <div class="navigation">
        <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\index.html" style="color: whitesmoke;">Main</a>
        <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\music.html" style="color: whitesmoke;">Music</a>
        <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\tour.html" style="color: whitesmoke;">Tour</a>
        <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\contact.html" style="color: whitesmoke;">Contact</a>
        </div>
      </nav>
</footer>
</body>
</html>