/* * {
    background-color: black;
} */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display:none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* .img1 { background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/71177258_493476597869756_3305324483593633792_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=9267fe&_nc_ohc=71fBU4_jYAUAX_G2nW0&tn=-796B_bBah2b727p&_nc_ht=scontent.fdet1-1.fna&oh=f69007bedc88a3f8746e72bf5810905f&oe=616B5979"); }
  .img2 { background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/239412946_934222643795147_2393439447748996829_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=a26aad&_nc_ohc=TJgnEl7QR8QAX_IljOU&tn=-796B_bBah2b727p&_nc_ht=scontent.fdet1-1.fna&oh=410f0549cf57efbcdb4ebacd1ee9e701&oe=61694B6C"); }
  .img3 { background-image: url(""); }
  .img4 {background-image: url("")} */