<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./tour.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">
    <title>Ben Jindra</title>
</head>
<body>
        <div class="container">
            <img src="https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/89750908_607095776507837_7889008620921159680_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=9267fe&_nc_ohc=0XwvkPL3IukAX-152BT&_nc_ht=scontent.fdet1-1.fna&oh=43a2b60257638fa8408e1ee9fac9cb14&oe=61673E27" height="25%" width="100%"/>
            <div class="Tour">Tour</div>
        </div>
    <div class="bg-image img1"></div>
      <div>
        <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script><a class="bit-widget-initializer" data-artist-name="tyler rich" data-display-local-dates="false" data-display-past-dates="false" data-auto-style="false" data-text-color="#FFFFFF" data-link-color="#d10f0f" data-background-color="rgba(0,0,0,0)" data-display-limit="15" data-display-start-time="false" data-link-text-color="#fefefe" data-display-lineup="false" data-display-play-my-city="true" data-separator-color="rgba(124,124,124,0.25)"></a>
      </div>
      <footer>
        <nav>
            <div id="navigation">
            <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\index.html">Main</a>
            <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\music.html">Music</a>
            <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\tour.html">Tour</a>">Tour</a>
            <a href="file:///C:\Users\Ellisa\Ben-Jindra\ben-jindra\src\components\contact.html">Contact</a>
            </div>
          </nav>
    </footer>
</body>
</html>