body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    height: 80%;
  
    /* Center and scale the image nicely */
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Images used */
  .img1 { background-image: url("https://scontent.fdet1-2.fna.fbcdn.net/v/t1.6435-9/71804341_498139167403499_6541105999191736320_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=9267fe&_nc_ohc=n0UiAEzykgEAX_tU6jn&_nc_ht=scontent.fdet1-2.fna&oh=3536d9c595628847f35b36d8884fc7d7&oe=6167C46B"); }
  .img2 { background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/238592400_936576136893131_7465777544599787629_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=a26aad&_nc_ohc=csWWTOBGP18AX8emsBm&_nc_ht=scontent.fdet1-1.fna&oh=13de47e98375cfa5f3ea5ada32603659&oe=61664968"); }
  .img3 { background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/117951486_703242650226482_6307999870670813169_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=a26aad&_nc_ohc=gwIu_TKgsY8AX-oydjz&tn=-796B_bBah2b727p&_nc_ht=scontent.fdet1-1.fna&oh=6c9c3a4a358a97a3dafda109023306b3&oe=6169A89B"); }
  .img4 {background-image: url("https://scontent.fdet1-1.fna.fbcdn.net/v/t1.6435-9/241509973_941051006445644_3029106840505540045_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=a26aad&_nc_ohc=O6qP10Q8YPYAX8sCydQ&_nc_ht=scontent.fdet1-1.fna&oh=7ab5998fadd436f71cb7f8f21bfb8ade&oe=616AB58D")}

  .Tour {
    color: black;
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%);
    font-family:'Shadows Into Light', cursive;
  }

  .About {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 125%;
    right:15%;
    transform: translate(-50%, -50%);
  }

  .Music {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 200%;
    left:15%;
    transform: translate(-50%, -50%);
  }

  .Contact {
    color: black;
    font-family: 'Shadows Into Light', cursive;
    font-size: 100px;
    position: absolute;
    top: 275%;
    right:5%;
    transform: translate(-50%, -50%);
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    font-family:'Shadows Into Light', cursive;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #f1f1f1;
    position: fixed; /* Stay fixed */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 300px;
    padding: 20px;
    /* text-align: center; */
  }

  a:link {
      text-decoration: none;
  }
  a:hover {
      color:rgb(172, 17, 17);
  }

  @media screen and (max-width: 800px) {
    .left, .main, .right {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}